@model List<Models.ConnectedUser>


    <ul>
        @if (Model != null)
        {
            @foreach (var user in Model)
            {
                <li><p>@user.UserName</p></li>
            }
        }
    </ul>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/scoreboard.js"></script>