@model List<Models.ConnectedUser>

@if (Model != null)
{
    <p>Connected users!</p>

    <ul class-list-group>
        @foreach (var user in Model)
        {
            <li class="list-group-item">
                <div class="row">
                    <p class="margin-left" style="color: black;"> @user.UserName</p>
                    @if (user.IsAdmin)
                    {
                        <i class='adminIcon fas fa-crown' style='font-size:1rem;color:gold'></i>
                    }
                    @if (user.Score != 0)
                    {
                        <p class="margin-left" style="color: black;"> | Current Score: <b>@user.Score</b></p>
                    }
                </div>
            </li>
        }
    </ul>
}
