@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<head>
    <link rel="stylesheet" href="~/css/changepaswbackground.css">
</head>

<ul class="nav nav-pills flex-column">
    <li  class="nav-item"><a style="background-color:#D1A93A; color:black" class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
</ul>
