@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="css/ChatModal.css" type="text/css" />
</head>

<div class="text-center">
    <h2 class="display-4">Welcome to our pub!</h2>
</div>

<button onclick="window.location.href = '@Url.Page("PrivateTable")'">Generate private table</button>

<partial name="_ChatModalLobbyPartial" />