@page
@model VirtPub.Pages.PrivateTableModel
@{
}

<h1>Hi this is a private table</h1>

@*TODO: Move css to separate css file*@
<div style="display: inline-flex">
    <h4 id="invite-link"></h4>
    <button id="inviteBtn">Copy invite link</button>
</div>



<script src ="~/js/copyToClipboard.js"></script>
