@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link rel="stylesheet" href="css/site.css">
    <link href="~/css/publicTable.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">

</head>

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>

</div>

<div class="policy-container">
<p class="privacy-paragraph">Use this page to detail your site's privacy policy.</p>

</div>

