@page

@model VirtPub.Pages.PrivateTableModel
@{
}

<head>
    <link rel="stylesheet" href="css/ChatModal.css" type="text/css" />
    <link rel="stylesheet" href="~/css/privategameback.css">
</head>

<h1>Hi this is a private table</h1>

@*TODO: Move css to separate css file*@
<div style="display: inline-flex">
    <h4 id="invite-link"></h4>
    <button class="btn btn-warning" id="inviteBtn">Copy invite link</button>
</div>
<div class="games">
    <h2>Games!</h2>
    <ul>
        @foreach (var game in Model.Games)
        {
            <li class="game-list"><a href="@game.link">@game.name</a> </li>
        }
    </ul>
</div>

<script src="~/js/copyToClipboard.js"></script>

<script type="text/javascript">
    var Group = "@Model.Id.ToString()";
</script>

<partial name="_ChatModalPartial" />
