@page
@model VirtPub.Pages.PublicTableModel
@{
}

<head>
    <link rel="stylesheet" href="css/ChatModal.css" type="text/css" />
</head>

<h1> hej hej</h1>




<script type="text/javascript">var Group = "PublicTable"</script>

<partial name="_ChatModalPartial" />